body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control {
  border: 0 !important;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-actions button,
.cust-btn {
  background: #ff8000;
  font: inherit;
  border: 1px solid #ff8000;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.cust-btn:hover,
.cust-btn:active {
  background: #ff8c1a;
  border-color: #ff8c1a;
}
